.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content-table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.content-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ebe0ff;
  height: 43px;
}

.content-table tbody {
  display: block;
  overflow-y: auto;
  overflow-x: auto;
  height: calc(100% - 43px);
}

.content-table thead,
.content-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.content-table thead tr {
  background-color: #ebe0ff;
  text-align: left;
}

.content-table thead th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr:nth-child(even) {
  background-color: #f7f5fd;
}
